In [1]:
import pandas

In [2]:
df = pandas.DataFrame.from_csv("listings_detailed.csv")

/Library/Python/2.7/site-packages/IPython/core/interactiveshell.py:2825: DtypeWarning: Columns (43,88) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [3]:
select_columns = [1,21,40,47,48]

In [4]:
df = df[select_columns]

In [5]:
df

               scrape_id  host_since           city   latitude  longitude
id
3943387   20160702172621  2014-08-23          Bronx  40.839396 -73.781437
6627449   20160702172621  2014-04-04    City Island  40.849775 -73.786609
11675715  20160702172621  2016-01-30    City Island  40.850376 -73.784681
1886820   20160702172621  2013-11-04          Bronx  40.841144 -73.783052
5557381   20160702172621  2015-03-05          Bronx  40.850024 -73.789328
958444    20160702172621  2013-02-24          Bronx  40.852350 -73.788728
8053533   20160702172621  2015-08-25          Bronx  40.848202 -73.789293
9147025   20160702172621  2011-02-21          Bronx  40.844870 -73.789541
7949480   20160702172621  2010-05-06          Bronx  40.852054 -73.788680
755528    20160702172621  2012-09-26          Bronx  40.858397 -73.869686
501568    20160702172621  2011-11-03          Bronx  40.868983 -73.851274
4303051   20160702172621  2011-11-03          Bronx  40.868076 -73.848490
12496118  20160702172621  2014-01-14          Bronx  40.869469 -73.859935
759901    20160702172621  2011-07-26          Bronx  40.866331 -73.856428
3429765   20160702172621  2014-06-02          Bronx  40.866889 -73.857756
4407790   20160702172621  2014-06-02          Bronx  40.866820 -73.858116
12488859  20160702172621  2016-04-17          Bronx  40.859748 -73.865637
9513511   20160702172621  2015-11-17          Bronx  40.857532 -73.866055
13323568  20160702172621  2016-05-19          Bronx  40.865411 -73.869027
3400359   20160702172621  2014-06-02          Bronx  40.866770 -73.859378
773041    20160702172621  2012-09-26          Bronx  40.859947 -73.869703
260566    20160702172621  2011-11-03          Bronx  40.867022 -73.852723
8294259   20160702172621  2014-01-14          Bronx  40.867887 -73.859994
5046189   20160702172621  2014-11-14          Bronx  40.870541 -73.846807
715270    20160702172621  2012-09-26          Bronx  40.859559 -73.870669
182177    20160702172621  2011-07-26          Bronx  40.864658 -73.857087
9331257   20160702172621  2012-11-14          Bronx  40.858728 -73.869968
13109017  20160702172621  2016-05-19          Bronx  40.865213 -73.867681
4462008   20160702172621  2014-06-02          Bronx  40.868144 -73.858745
6071500   20160702172621  2013-08-06        Astoria  40.775112 -73.898661
...                  ...         ...            ...        ...        ...
3409926   20160702172621  2014-06-24       Brooklyn  40.712284 -73.942041
8782605   20160702172621  2013-02-14       Brooklyn  40.713562 -73.937660
10880549  20160702172621  2012-12-05       Brooklyn  40.715931 -73.961077
9831813   20160702172621  2012-11-26       Brooklyn  40.708179 -73.954468
6292828   20160702172621  2015-03-08       Brooklyn  40.710752 -73.951679
263502    20160702172621  2011-11-07       Brooklyn  40.720591 -73.956698
7472465   20160702172621  2012-09-28       Brooklyn  40.713324 -73.952915
13812977  20160702172621  2016-07-02       Brooklyn  40.610488 -73.943456
13430212  20160702172621  2016-06-08        Yonkers  40.910207 -73.894501
3405837   20160702172621  2014-04-04       New York  40.758711 -73.955575
13385549  20160702172621  2012-09-24         Queens  40.585375 -73.821614
13591145  20160702172621  2016-06-18  Valley Stream  40.649666 -73.726349
13682056  20160702172621  2016-05-18            NaN  40.687179 -73.904961
8860521   20160702172621  2015-07-31    Jersey City  40.721623 -74.035731
13745796  20160702172621  2016-06-02         Queens  40.582521 -73.821093
13547992  20160702172621  2014-07-27       Brooklyn  40.655887 -73.963009
13410220  20160702172621  2015-09-12       New York  40.783605 -73.967515
13528130  20160702172621  2014-06-16       New York  40.719426 -74.016320
3150629   20160702172621  2014-05-25       New York  40.705923 -73.978569
13175068  20160702172621  2014-11-17  Staten Island  40.615656 -74.078732
11885211  20160702172621  2016-03-17  Valley Stream  40.672188 -73.726066
13294471  20160702172621  2016-05-31  Staten Island  40.615747 -74.076584
13548952  20160702172621  2014-05-29         Queens  40.582456 -73.821016
8955587   20160702172621  2014-11-16       New York  40.774181 -73.975133
13742112  20160702172621  2016-06-28         Queens  40.717558 -73.825751
13100284  20160702172621  2015-01-10  Staten Island  40.617959 -74.070005
13549414  20160702172621  2014-05-29         Queens  40.582112 -73.820544
13765944  20160702172621  2015-06-01         Queens  40.585066 -73.821444
13343309  20160702172621  2012-09-24       New York  40.585629 -73.821738
13490462  20160702172621  2016-06-12          Bronx  40.870998 -73.870986

[38810 rows x 5 columns]

In [6]:
df.to_pickle("NYC_listing_pickle")